:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  width: 100px;
  height: 100px;
}

.main-heading, .sub-heading {
  font-family: "Righteous";
  text-align: center;
}

.main-heading {
  font-size: 28px;
}

.sub-heading {
  font-size: 22px;
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .image {
    width: 150px;
    height: 150px;
  }
  
  .main-heading {
    font-size: 32px;
  }
  
  .sub-heading {
    font-size: 26px;
  }
}

@media (min-width: 1200px) {
  .image {
    width: 200px;
    height: 200px;
  }
  
  .main-heading {
    font-size: 36px;
  }
  
  .sub-heading {
    font-size: 30px;
  }
}