main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #4C4C6D;
  border-radius: 5px;
  padding: 7vh;
  height: 80%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-heading, .sub-heading {
  font-family: "Righteous";
}