:host {
  width: 100%;
}

.main-heading {
  font-family: "Righteous";
  text-align: center;
  font-size: 28px;
}

.more-details {
  text-decoration: none;
  font-family: "Righteous";
  font-size: 20px;
  color: #4C4C6D;
  margin-bottom: 40px;
}

.more-details:hover {
  color: #000000;
  text-decoration: underline;
  cursor: pointer;
}

.btn {
  font-size: 16px;
}

@media (min-width: 768px) {
  .main-heading {
    font-size: 32px;
  }
  
  .more-details {
    font-size: 24px;
  }
}

@media (min-width: 1200px) {
  .main-heading {
    font-size: 36px;
  }

  .more-details {
    font-size: 28px;
  }

  .btn {
    font-size: 18px;
  }
}