<div 
  *ngIf="loadCompleted"
  class="content-container"
>
  <h1 class="main-heading">
    {{ user.name }}, you got {{ pokemon.name | uppercase }}!
  </h1>

  <app-pokemon [pokemon]="pokemon"></app-pokemon>

  <a 
    *ngIf="!showDetails; else showPokemonDetails"
    class="more-details" 
    (click)="onMoreDetails()"
  >
    More details on {{ pokemon.name | titlecase }}
  </a>
  <ng-template #showPokemonDetails>
    <app-pokemon-details [pokemon]="pokemon"></app-pokemon-details>
  </ng-template>

  <button 
    class="btn"
    mat-stroked-button
    (click)="onLogOut()"
  >
    LOG OUT
  </button>
</div>